html{
    font-size: 10px;
    box-sizing: border-box;
}

*,*:before, *:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    min-width: 100vw; 
    min-height: 100vh;
    position: relative;
    background-color: #B366A6;
}

.row:after{
    content: '';
    display: table;
    clear: both;
}

form{
    width: 400px;
    height: 300px;
    padding: 30px 20px;
    border-radius: 2.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    background-color: #a3b9f3;
}

.form_group{
    position: relative;
}

label{
    display: block;
    margin: 0 0 10px 0;
    color: #fff;
    font-size: 1.6rem;
}

sup,
.error{
    color: #a70909;
}

.error{
    position: absolute;
    bottom: -20px;
    left: 10px;
    font-size: 12px;
}

form .col-1-of-2{
    width: 48%;
    float: left;

    &:first-of-type{
        margin-right: 4%;
    }
}

form input{
    &:not([type=submit]){
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 2.5px;
        padding: 0 10px;
    }

    &[type="submit"]{
        margin: 30px 0 0 0; 
        height: 40px;
        border: none;
        color: #fff;
        background-color: #137bd8;
        padding: 0 20px;
        border-radius: 2.5px;
        font-size: 1.6rem;
    }
}


form .row:first-of-type{
    margin: 0 0 30px 0;
}

